
.flex-row {
    display: flex;
    column-gap: 8px;
}
.container, .container-like {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

input {
    width: 10ch;
}

input.operator {
    width: 1ch;
}

canvas {
    border: 1px solid black;
}


.dragged-into {
    border: 1px dashed black
}

.insert-before {
    border-top: 10px solid rgba(255, 0, 0, 0.603);
    padding-top: 3px
}